$buttonColor: (
  ".loader_welcome--0": #F79B19,
  ".loader_welcome--1": #00A8CC,
  ".loader_welcome--2": #3bc461,
  ".loader_welcome--3": #168fff,
  ".loader_welcome--4": #FFE380,
);
$carousel: (
  "1": 51deg,
  "2": 102deg,
  "3": 153deg,
  "4": 204deg,
  "5": 256deg,
  "6": 308deg,
  "7": 360deg,
);
$remBase: 16; //set base font size. unitless value in pixels.
$widthMin: 480; //set small breakpoint. unitless value in pixels.
$widthMax: 1024; //set large breakpoint. unitless value in pixels.
$animation-timing: 21s;
$carousel-items: 7;
$animation-delay-fraction: $animation-timing / $carousel-items;
$animation-steps-fraction: 100/ $carousel-items;
$slide-change-timing: 3;
@mixin font-size($valueMin, $valueMax) {
  // turn mixin parameters into rem value.
  $fontMin: $valueMin * $remBase;
  $fontMax: $valueMax * $remBase;

  // set minimum font size. give it rem value.
  font-size: $valueMin * 1rem;

  // set font size between min and max breakpoints.
  @media (min-width: #{$widthMin}px) {
    font-size: calc(
      #{$fontMin}px + (#{$fontMax} - #{$fontMin}) *
        ((100vw - #{$widthMin}px) / (#{$widthMax} - #{$widthMin}))
    );
  }

  // set font size above max breakpoint
  @media (min-width: #{$widthMax}px) {
    font-size: $valueMax * 1rem;
  }
}
//Welcome animations
@keyframes goDown {
  0% {
    transform: translate(0vw, -7vh);
  }
  50% {
    transform: translate(50%, -7vh);
  }
  100% {
    transform: translate(50%, 7vh);
  }
}
@keyframes down {
  100% {
    transform: translateY(2vh);
  }
}

@keyframes up {
  100% {
    transform: translateY(-2vh);
    opacity: 1;
  }
}
@keyframes appear {
  100% {
    opacity: 1;
  }
}
//Hover button drawing animations

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}
//Pages growth
@keyframes growth {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: (var(--widthEnd));
  }
}

@keyframes carousel-animate-vertical {
  0% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
    display: none;
  }
  #{$slide-change-timing}%,
  #{$animation-steps-fraction}% {
    transform: translateY(100%) scale(0.7);
    opacity: 0.4;
    display: unset;
  }
  #{$animation-steps-fraction + $slide-change-timing}%,
  #{$animation-steps-fraction * 2}% {
    transform: translateY(0) scale(1);
    opacity: 1;
    display: unset;
  }
  #{($animation-steps-fraction * 2) + $slide-change-timing}%,
  #{$animation-steps-fraction * 3}% {
    transform: translateY(-100%) scale(0.7);
    opacity: 0.4;
    display: unset;
  }
  #{($animation-steps-fraction * 3) + $slide-change-timing}% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    display: unset;
  }
  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    display: none;
  }
}
@keyframes border-1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

@keyframes border-2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

@keyframes border-3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}
@keyframes border-4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
@keyframes cvGrowth {
  0% {
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
