$buttonColor: (".loader_welcome--0":#ff1f71,".loader_welcome--1":#2bd2ff, ".loader_welcome--2":#00fa9a, ".loader_welcome--3":#8f00f1,".loader_welcome--4":#fff600);
//Welcome animations
@keyframes goDown {
    0%{
        transform: translate(0vw,50vh);
    }
    50%{
        transform: translate(50%, 50vh);
    }
    100%{    
        transform: translate(50%, 80vh);
    }
} 
@keyframes down {
    100% {
        
        transform: translateY(2vh);
    }
}

@keyframes up {
    100%{      
        transform: translateY(-4vh);
         opacity: 1;
    }
}
@keyframes appear{
    100%{    
        opacity: 1;
    }   
}
//Hover button drawing animations
  
  @keyframes dash {
    100% {
      stroke-dashoffset: -100;    
    }
  }