$buttonColor: (".loader_welcome--0":#5b21e3,".loader_welcome--1":#BC4BB5, ".loader_welcome--2":#51AB2C, ".loader_welcome--3":#9A3E29,".loader_welcome--4":#CCA1A3); 
$remBase: 16; //set base font size. unitless value in pixels.
$widthMin: 480; //set small breakpoint. unitless value in pixels.
$widthMax: 1024; //set large breakpoint. unitless value in pixels.

@mixin font-size($valueMin, $valueMax) {
	// turn mixin parameters into rem value.
	$fontMin: $valueMin * $remBase;
	$fontMax: $valueMax * $remBase;
	
	// set minimum font size. give it rem value.
	font-size: $valueMin * 1rem;
	
	// set font size between min and max breakpoints.
	@media (min-width: #{$widthMin}px) {
		font-size: calc( #{$fontMin}px + (#{$fontMax} - #{$fontMin}) * ((100vw - #{$widthMin}px) / (#{$widthMax} - #{$widthMin})));
	}

	// set font size above max breakpoint
	@media (min-width: #{$widthMax}px) {
		font-size: $valueMax * 1rem;
	}
}
//Welcome animations
@keyframes goDown {
    0%{
        transform: translate(0vw,-7vh);
    }
    50%{
        transform: translate(50%, -7vh);
    }
    100%{    
        transform: translate(50%, 7vh);
    }
} 
@keyframes down {
    100% {
        
        transform: translateY(4vh);
    }
}

@keyframes up {
    100%{      
        transform: translateY(-4vh);
         opacity: 1;
    }
}
@keyframes appear{
    100%{    
        opacity: 1;
    }   
}
//Hover button drawing animations
  
  @keyframes dash {
    100% {
      stroke-dashoffset: 0;    
    }
  }
//Pages growth 
  @keyframes growth {
      0% {
          transform: scale(0);
      }
      50% {
        transform: scale(1.2);
      }
      100% {
          transform: scale(1);
      }
  }
@keyframes load {
  0% { width: 0; }
  100% { width:(var(--widthEnd))}
}

 @keyframes disapearTop {
     100% {
        transform: translate(50vw,0vh)
     }
 }
  
